#slider {
  /*min-width: 65vw;*/
  min-height: 60vh;
  /*max-width: 65vw;*/
  max-height: 60vh;
  margin: auto;
  margin-bottom:  0;

  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: 100%;
}

.findClub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageClubs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pageTitle {
  text-align: center;
  padding: 1em;
  font-size: 2em;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#searchButton {
  width: 4%;
  margin-right: 2em;
}
.submit {
  border-style: solid;
  width: 10%;
  border-color: #46d651;
  background: #46d651;
  color: white;
}

.submit:hover {
  border-color: #2a8431;
  background: #2a8431;
  cursor: pointer;
}

#reset {
  padding: 1em;
  width:100%;
}
#create {
  padding: 1em;
  margin: 1em;
  width: auto;
}

.clubsTable {
  font-size: 135%;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
  border-top: 1px solid grey;
}



.tableRow {
  background: white;
}

.tableRow td a {
  padding: 1em;
  display: block;
}
.tableRow:hover {
  background: grey;
  color: white !important;
  cursor: pointer;
}

.th, td, tr {
  text-align: center;
}
