@import url("clubs.css");
@import url("health.css");
@import url("map.css");
@import url("ideal-image-slider.css");
@import url("content.css");
    
* {
    margin: 0%;
    padding: 0%;
    font-family: Helvetica, Arial, Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #000;
}

/*
    main.css is the main style sheet for the layout only

    created by Kelsie Regan
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#container{
    height: 100%;
    width: 100%;
    background-color: #a5a5a5;
}

header{
    position: relative;
    top: 0%;
    left: 0%;
    background-color: #46d651;
    height: 10%;
    width: 100%;
    border-bottom: 5px solid #0000ff;

}

.logo{
    position: relative;
    float: left;
    height: 10%;
    width: 10%;
}

.title{
    position: relative;
    float: left;
    left: 1%;
    height: 10%;
    width: 30%;
}

nav{
    position: relative;
    left: 4%;
    width: 60%;
    padding: 1%;
}

#mobileMenu{display: none;}


section{position: relative; top:auto; left: 0%; height: auto; padding: 3%; background-color: #dddddd;}

section div{
    position: relative;
    top:auto;
    height: auto;
    margin: auto;
    overflow: hidden
}

footer{
    position: relative;
    top:auto;
    left: 0%;
    height: auto;
    padding: 4%;
    background-color: #3c3c3c;
}

.footer-left{
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding: 1%;
    line-height: 2rem;
}

.footer-middle{
    box-sizing: border-box;
    width: 30%;
    float: left;
    text-align: center;
    padding: 1%;
    display: inline-block;
}

.footer-right{
    box-sizing: border-box;
    width: 30%;
    float: right;
    padding: 1%;
    line-height: 2rem;
}

footer ul{list-style: none}
footer li{color: #ffffff; text-align: left; }
.footer-middle li{display: inline-block; list-style: none;}
.img1{position: relative; width: 25%; height: 20%;}
.img2{position: relative; width: 30%; height: 30%;}
.banner{position: relative; top:0%; left: 0%; width: 60%; height:20%;}
.sc{font-weight: bold; color: #ffffff; font-size: 2rem; }
.contact{font-weight: bold; color: #ffffff; font-size: 2rem; text-align: center}
.fa{color:#ffffff;}
.fa:hover{color:#4c7eed;}

.create {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
  text-align: center;
}

/* Start of Media Query: Desktop Resolution */
@media only screen and (max-width:1900px){
    nav{
        display: block;
        position: relative;
        left: 4%;
        max-width: 80%;
        max-height: 10vh;
    }

    .navigation{
        display: inline-block;
    }

    .navigation a {
        color: #0014ff;
        text-align: center;
        padding: 2vh;
        text-decoration: none;
    }


    .navigation a:hover {
        color: #ffffff;
        background-color: #7e7e7e;
    }

}/* End of Media Query: Desktop Resolution */

/* Start of Media Query: Mobile Resolution */
@media only screen and (max-width: 800px) {
    
    /* Start of Mobile Navigation */
    nav{display: none;}
    .navtxt{text-align: center; padding: 1vh; float: right;}

    #mobileMenu {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        overflow: hidden;
        background-color: #7e7e7e;
        display: block
    }

    .dropdown {
        float: left;
    }

    .dropdown a, .dropbtn {
        display: inline-block;
        color: #FFF;
        text-align: center;
        padding: 2vh 2vh;
        text-decoration: none;
    }

    .dropdown a:hover, .dropdown:hover .dropbtn {
        background-color: #7E7E7E;
    }

    .dropdown.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #3c3c3c;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color:  #fff;
        padding: 2vh;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {background-color: #7E7E7E; color: #0014ff;}

    .show {display:block; z-index: 9999;}

    /* End of Mobile Navigation Menu */

    .logo{
        position: relative;
        float: left;
        height: 20vh;
        width: 20vh;
    }

    .title{
        position: relative;
        float: left;
        left: 1%;
        height: 20vh;
        width: 40vh;
    }
}/* End of Media Query: Mobile Resolution */
